@keyframes text-focus-in {
    0% {
        filter: blur(12px);
        opacity: 0;
    }
    100% {
        filter: blur(0px);
        opacity: 1;
    }
}

@keyframes opacity-in {
    0%{
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
    
}

@keyframes pulse-effect {
    0% {
        transform: scale3d(1, 1, 1);
    }
    15% {
        transform: scale3d(1.02, 0.98, 1);
    }
    20% {
        transform: scale3d(0.98, 1.02, 1);
    }
    25% {
        transform: scale3d(1.02, 0.98, 1);
    } 
    33% {
        transform: scale3d(0.99, 1.01, 1);
    } 
    38% {
        transform: scale3d(1.01, 0.99, 1);
    } 
    50% {
        transform: scale3d(1, 1, 1);
    }   
}