@font-face {
    font-family: 'Eudoxus Sans';
    src: url('../../../../public/fonts/EudoxusSansGX.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'P22 Mackinac Pro';
    src: url('../../../../public/fonts/Fontspring-DEMO-P22MackinacProMedium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'P22 Mackinac Pro';
    src: url('../../../../public/fonts/Fontspring-DEMO-P22MackinacProBold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}