@use '../../ui/styles/mixins.scss' as mx;
@use '../../ui/styles/variables.scss' as vr;


.header {
  background-color: vr.$color-header;
  width: 100vw;
  position: fixed;
  top: 0;
  z-index: 5;
}

.navigation {
  @include mx.flex-container(space-between, center);
  padding: 16px 50px;
  min-width: 1368px;
  margin: 0 auto;

  &__link {
    & img {
      width: 100px;
      height: auto;
    }
  }
}

