<dialog class="language-modal" [ngClass]="{'language-modal--show' : isModalVisible}" id="language-modal" role="dialog" aria-labelledby="language-modal__title">
    <div class="language-modal__container" id="lm-container">
        <header class="language-modal__header">
            <h3 class="language-modal__title">Choose language</h3>
            <button class="language-modal__button-close" (click)="closeModal()" id="lm-button-close" aria-label="Close language selector">
                <i aria-hidden="true">
                    <svg viewBox="0 0 24 24" focusable="false" class="chakra-icon css-onkibi" aria-hidden="true">
                        <path fill="currentColor" d="M.439,21.44a1.5,1.5,0,0,0,2.122,2.121L11.823,14.3a.25.25,0,0,1,.354,0l9.262,9.263a1.5,1.5,0,1,0,2.122-2.121L14.3,12.177a.25.25,0,0,1,0-.354l9.263-9.262A1.5,1.5,0,0,0,21.439.44L12.177,9.7a.25.25,0,0,1-.354,0L2.561.44A1.5,1.5,0,0,0,.439,2.561L9.7,11.823a.25.25,0,0,1,0,.354Z"></path>
                    </svg>
                </i>
            </button>
        </header>
        <div class="language-modal__content">
            <button class="language-modal__button language-modal__button--active" role="button" tabindex="0">English</button>
            <button class="language-modal__button">Shqip</button>
            <button class="language-modal__button">Bosanski</button>
            <button class="language-modal__button">Български</button>
            <button class="language-modal__button">简体中文</button>
            <button class="language-modal__button">繁體中文</button>
            <button class="language-modal__button">Hrvatski</button>
            <button class="language-modal__button">Čeština</button>
            <button class="language-modal__button">Dansk</button>
            <button class="language-modal__button">Nederlands</button>
            <button class="language-modal__button">Eesti</button>
            <button class="language-modal__button">Suomi</button>
            <button class="language-modal__button">Français</button>
            <button class="language-modal__button">Deutsch</button>
            <button class="language-modal__button">Ελληνικά</button>
            <button class="language-modal__button">हिन्दी</button>
            <button class="language-modal__button">Magyar</button>
            <button class="language-modal__button">Bahasa Indonesia</button>
            <button class="language-modal__button">Italiano</button>
            <button class="language-modal__button">日本語</button>
            <button class="language-modal__button">ಕನ್ನಡ</button>
            <button class="language-modal__button">한국어</button>
            <button class="language-modal__button">Latviešu</button>
            <button class="language-modal__button">Lietuvių</button>
            <button class="language-modal__button">Norsk</button>
            <button class="language-modal__button">Polski</button>
            <button class="language-modal__button">Português (Brasil)</button>
            <button class="language-modal__button">Română</button>
            <button class="language-modal__button">Русский</button>
            <button class="language-modal__button">Српски</button>
            <button class="language-modal__button">Slovenščina</button>
            <button class="language-modal__button">Español</button>
            <button class="language-modal__button">Svenska</button>
            <button class="language-modal__button">Tagalog</button>
            <button class="language-modal__button">ไทย</button>
            <button class="language-modal__button">Türkçe</button>
            <button class="language-modal__button">Українська</button>
            <button class="language-modal__button">O‘zbek</button>
            <button class="language-modal__button">Tiếng Việt</button>
        </div>
    </div>
</dialog>