@use '../../../ui/styles/mixins.scss' as mx;
@use '../../../ui/styles/variables.scss' as vr;

.menu {
    @include mx.flex-container(center, center, 30px);
    list-style: none;
  
    &__item {
      @include mx.font-to-use(15);
    }
  
    &__button {
      @include mx.font-to-use(15);
      @include mx.flex-container(start, end, 10px);
      @include mx.button-parameters(transparent, none, 0, vr.$color-gray-primary);
      padding: 0;
      height: 18.4px;
  
      &:hover {
        color: vr.$color-black;
      }
  
      & svg {
        width: 14px;
        vertical-align: -1px;
      }
    }
  
    &__link {
      color: vr.$color-gray-primary;
      text-decoration: none;
      &:hover {
        color: vr.$color-black;
      }
    }
  
    &__button-try {
      @include mx.button-parameters(
        transparent,
        solid 1px #b3b3b3,
        20px,
        vr.$color-gray-primary,
        1px 1px 2px vr.$color-primary-shadow
      );
      @include mx.font-to-use(15, 600);
      padding: 6px 16px;
      margin-right: 15px;
      &:hover {
        color: vr.$color-black;
      }
    }
  }
  