<section class="hero" aria-labelledby="hero-title">
    <h1 class="hero__title" id="hero-title">A new medium for presenting ideas.</h1>
    <h2 class="hero__subtitle">Powered by AI.</h2>
    <p class="hero__description">Beautiful presentations, documents, and websites.<br> No design or coding skills required.</p>
    <a class="hero__button" href="#" aria-label="Sign up for a free account to create presentations, documents, and websites with AI">Sign up for free</a>
    <figure class="hero__figure">
        <video src="images/Introducing Gamma_ Presentations, Websites, and More, powered by AI.mp4" autoplay muted playsinline controls loop aria-describedby="video-1-desc"></video>            
        <figcaption id="video-1-desc">
            A video introducing Gamma's features: presentations, websites, and documents created with the help of AI.
        </figcaption>
    </figure>
</section>